[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/hardmode"]
	path = .vim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/scss-syntax.vim"]
	path = .vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule ".vim/bundle/emmet-vim"]
	path = .vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim/
[submodule ".vim/bundle/rename.vim"]
	path = .vim/bundle/rename.vim
	url = https://github.com/danro/rename.vim
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule ".vim/bundle/vim-interestingwords"]
	path = .vim/bundle/vim-interestingwords
	url = https://github.com/vasconcelloslf/vim-interestingwords
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-cjsx"]
	path = .vim/bundle/vim-cjsx
	url = https://github.com/mtscout6/vim-cjsx.git
[submodule ".vim/bundle/elm.vim"]
	path = .vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
